/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-image: url(../img/sfondo.png)
}
h1 {
    font-size: 2.5em;
    font-weight: 300;
    font-style: bold;
    margin: 0em 0 1em 0;
    text-align: left;
}
p {
    font-size: 1em;
    line-height: 1.5em;
}
/* HEADER */
header {
border: 0px solid black;
background-color: #007791;
width: 80%;
margin: 1em auto 0.5em auto;
text-align: center;
color: white;
padding: 2em 2em 2em 1em;
}
header img {
    height: auto;
    align-content: center;
}
#nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.starter-link {
    color: white;
    text-decoration: none;
}

/* MAIN */
main {
    border: 0px solid black;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: black;
    padding: 2em 2em 2em 1em;
}
main > h2 :nth-of-type(2) {
 text-align: center;
}
#pubblisher {
    font-size: 1em;
    color: gray;
    margin: 0 0 1em;
}
iframe {
    width: 100%;
    height: 400px;
    margin-top: 2em;
}
ul {
    list-style-type:disc;
    padding: 0.5em 2em;
}
ol {
    list-style-type: decimal;
    padding: 0.5em 2em;
}
main b {
color:  #ab1c74;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
caption {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    margin: 1em 0;
}
table {
    width: 100%;
    border:#3e69c6 2px;
    border-style: none none solid;
    margin-bottom: 3em;
}
thead {
    background-color: #3e69c6;
    color: white;
    text-align: center;
    padding: 3em;
    border-style: none solid;
    border-width: 2px;
    border-color: white;
}
td {
text-align: center  ;   
}
.highlight {
    background-color: #f2f2f2;
}
/* FORM */
form {
text-align: center;
background-color: #f2f2f2;
margin: 2em 0 0;
padding: 2em 2em 2em 2em;
}
form h1 {
    text-align: center;
}
#email-field {
    padding: 0.2em;
border-style: none none dashed none;
border-color: black;
}
button {
    background-color: #3e69c6;
    color: white;
    padding: 0.2em;
    border: none;
    cursor: pointer;
}
/* ELEMENTI NELL' ASIDE */
.date {
 text-align: right;
}
#box1 {
    background-color: #f2f2f2;
    padding: 1em;
    margin: 1em 0;
}
#box2 {
    background-color: #f2f2f2;
    padding: 1em;
    margin: 1em 0;
}
#box3 {
    background-color: #f2f2f2;
    padding: 1em;
    margin: 1em 0;
}
/* FOOTER */
footer {
    border: 0px solid black;
    background-color: #007791;
    width: 80%;
    margin: 0.5em auto 1em auto;
    text-align: center;
    color: white;
    padding: 2em 2em 2em 1em;
}
.mailto {
    color: #ff00ff;
}